.work-title {
    margin-top: -85px;
    font-weight: bold;
    background-color: white !important;
}

a {
    color: black !important;
    text-decoration: none !important;
    
}

.main-link {
    font-size: 30px;
}

.project-card {
    margin: 20px;
    width: 40%;
}

img {
    max-width: 100%;
}