:root {
    --pink-purp: rgb(194, 87, 225);
    --blue-purp: rgb(148, 159, 224);
    --blue-purpier: rgb(16, 144, 213);
    --bg-blue-grey: rgb(48, 48, 75);
    --active-maroon: rgb(152, 70, 134);
  }

* {
    font-family: 'Vollkorn', serif;
    background-color: rgb(235, 231, 253);
    color: var(--blue-purp);
}
/* Navbar Styles */

nav {
    
    background-color: rgb(31, 31, 49);
}

nav a {
    color: var(--active-maroon) !important;
    
    background-color: rgb(31, 31, 49);
}

.active {
    color: var(--pink-purp) !important;
}

h1 {
    
    font-weight: bolder;
    color: var(--blue-purpier);
    background-color: rgb(31, 31, 49);
}

nav ul {
    background-color: rgb(31, 31, 49);
}

a:hover {
    color: var(--pink-purp) !important;
}

h2 {
    color: var(--blue-purpier);
}

/* About Styles */
/* .left-div {
    max-width: 20%;
}

.right-div {
    min-width: 80%;
} */


/* Work Examples Styles */

.work-box {
    margin-top: -125px;
    font-weight: bold;
    display: block;
    position: relative;
    z-index: 3;
    width: 70%;
    height: 30%;
    background-color: white !important;
}

.work-box p {
    background-color: white;
}
.work-box a {
    text-decoration: none;
}

.project-link {
    background-color: white;
}

.main-link {
    
    background-color: white;
}

.project-card {
    margin: 20px;
    width: 40%;
}

img {
    max-width: 100%;
    z-index: 1;
}


/* Contact Styles */

.contact-link {
    color: var(--active-maroon) !important;
}

/* Footer Styles */

.footer {
    text-align: center;
    margin-top: 10px;
    background-color: var(--bg-blue-grey);
    color: var(--blue-purp);
}

.footer ul {
    list-style: none;
    background-color: var(--bg-blue-grey);
}

.footer ul li {
    background-color: var(--bg-blue-grey);
}
.footer-links a {
    color: var(--active-maroon) !important;
    background-color: var(--bg-blue-grey);
}